body {
  font-family: "Roboto", sans-serif;
}

.notFound {
  padding-top: 15%;
  text-align: center;
}

.notFound h1 {
  font-size: 130px;
}
.notFound p {
  font-size: 50px;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: black;
  a:hover {
    text-decoration: underline;
    color: black;
  }
}
