.footer {
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  border-top: 4px solid #000;
  margin-top: 50px;
}

.footerTop {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.contentMd {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footerSection {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.logoSection,
.linkSection,
.contactSection {
  flex: 1;
  margin-right: 20px;
}

.sectionTitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
}

.logoWord {
  font-size: 28px;
  font-weight: 700;
}

.footerListItem {
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 50px;
}

.containerFooter {
  display: flex;
  flex-direction: column;
}

.footerBottom {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1250px) {
    margin: 0 50px;
  }
}

.pullLeft,
.pullRight {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .footerBottom {
    flex-direction: column;
  }
}
.pullRight img {
  margin-left: 10px;
  width: 40px;
}

@media (max-width: 768px) {
  .contentMd {
    flex-direction: column;
  }

  .footerSection {
    flex-direction: column;
  }
}
